	  	<div class="page-header">
	  		<h1>ITESM Stats</h1>
	  		<p>Stats de {{nombre}}</p>
	  	</div>

	  	<div class="row info">

	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-2">
	  			<img src='{{imag}}' alt="" width="150" height="150" />
	  		</div>

	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-2">
	  			<h2>#{{numero}}</h2>
	  		</div>

	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-2">
	  			<h4>{{nombre}} {{apellido}}</h4>
	  			<p class="blue-font">{{ocupacion}} / {{empresa}}</p>
	  		</div>

	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-2">
	  			<p>{{peso}} lbs</p>
	  			<p>Edad {{edad}}</p>
	  			<p>Fecha de nacimiento: {{nacimiento}}</p>
	  			<p>Prior: {{prior}}</p>
	  			<p>DF</p>
	  		</div>

	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-2">
	  			<img src="{{img2}}" 
	  			alt="" width="150" height="150"/>
	  		</div>

	  	</div>

	  	<div class="row stats">
	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-12">
	  			<p>Stats de {{nombre}}</p>
	  		</div>
	  	</div>

	  	<div class="row season">
	  		<div class=".col-xs-12 .col-sm-12 .col-lg-12 col-md-12">
	  			<p>Stats del Semestre</p>
	  		</div>
	  	</div>

	  	<div class="row numbers">
	  		<div class="col-md-6">Semestre</div>
	  		<div class="col-md-1">Escuela</div>
	  		<div class="col-md-1">Edad</div>
	  		<div class="col-md-1">WEB</div>
	  		<div class="col-md-1">LAB</div>
	  		<div class="col-md-1">LANG</div>
	  		<div class="col-md-1">PTS</div>
	  	</div>


	  	<div class="row">
	  		<div class="col-md-6"><p class="blue-font2">Ago-Dic 2016</p></div>
	  		<div class="col-md-1">CCM</div>
	  		<div class="col-md-1">{{edad}}</div>
	  		<div class="col-md-1">N/A</div>
	  		<div class="col-md-1">N/A</div>
	  		<div class="col-md-1">{{lang}}</div>
	  		<div class="col-md-1">100</div>
	  	</div>

	  	<div class="row career">
	  		<div class="col-md-6">Carrera: </div>
	  		<div class="col-md-1"></div>
	  		<div class="col-md-1"></div>
	  		<div class="col-md-1">987</div>
	  		<div class="col-md-1">986</div>
	  		<div class="col-md-1">39.0</div>
	  		<div class="col-md-1">27.2</div>
	  	</div>

	  	<br><a href="index.html">Regresar a perfiles</a>
